.contactPageDiv{
  position: absolute;
  margin-top: 9rem;
  padding: 2rem;
  font-family: "Bebas Neue", cursive;

}
.socialsDiv {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}

.linkSocial {
  color: white !important;
  text-decoration: none;
}
.location{
  display: flex;
  align-items: center;
  justify-content: center;
}
.location__image{
height: 20px;
padding: 0.5rem;
}

.formSection{
  display: block;
}

.formSection__inputR{
  text-align: center;
  width: 80%;
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin: 0.5rem;
  font-family: "Bebas Neue", cursive;

}

.formSection__inputB{
  text-align: center;
  width: 80%;
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin: 0.5rem;
  height: 2rem;
  font-family: "Bebas Neue", cursive;

}

.formSection__inputS{
  text-align: center;
  width: 50%;
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin: 0.5rem;
  height: 2rem;
  background-color: grey;
  border: none;
  font-family: "Bebas Neue", cursive;

}