@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

.homeDiv {
  display: flex;
  justify-items: center;
  justify-content: center;
  align-items: center;
  background-color: black !important;
  z-index: 1;
}
.buttonStart {
  padding: 1rem;
  background: linear-gradient(rgba(51, 141, 194, 0.9), rgba(165, 51, 194, 0.3));
  border-radius: 1rem;
  border: none;
  color: white;
  width: 20%;
  position: absolute;
  bottom: 18rem;
  font-size: 2rem;
}

.divsHome {
  height: 300px;
  width: 270px;
  background-color: rgb(51, 51, 51);
  padding: 1rem;
  border-radius: 1rem;
  margin: 1rem;
  margin-top: 15rem;
  box-shadow: 0px 0px 10px 10px rgba(155, 98, 207, 0.3);
  background: linear-gradient(rgba(51, 141, 194, 0.9), rgba(165, 51, 194, 0.8));
}

@media only screen and (max-device-width: 414px) {
  .divsOne {
    display: none;
  }
  .divsTwo {
    display: none;
  }
  .divsZero {
    position: absolute;
    top: 11rem;
    width: 90%;
    animation: fadeIn ease 7s;
    opacity: 0.9;
    z-index: 20;
  }
  .homeDivFull,
  .homeDivFull2,
  .homeDivFull3 {
    font-family: "Bebas Neue", cursive;
    animation: fadeIn ease 7s;
  }
  .homeDivFull {
    position: absolute;
    top: 7rem;
    font-size: 0.9rem;
    right: 0;
    left: 0;
    z-index: 40;
    opacity: 90%;
  }
  .homeDivFull2 {
    position: absolute;
    top: 6.5rem;
    font-size: 2.3rem;
    right: 0;
    left: 0;
    z-index: 40;
    opacity: 90%;
  }
  .homeDivFull3 {
    position: absolute;
    border-top: 1px solid white;

    top: 10rem;
    font-size: 0.9rem;
    right: 0;
    left: 0;
    z-index: 40;
    opacity: 90%;
  }
  .homeDivArrow {
    position: absolute;
    bottom: 0rem;
    animation-name: bounce-4;
      animation-timing-function: ease;
      animation-duration: 3s;
      animation-iteration-count: infinite;
    z-index: 100;
    opacity: 0.3;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.9;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.4;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes bounce-4 {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    transform: scale(0.9, 1.1) translateY(-5px);
  }
  50% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}

.fadeIn {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgb(49, 49, 49);
  top: 0;
  animation: fadeOut ease 5s;
  opacity: 0;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: 0;
  }
}
