body {
  margin: 0;
  font-family: roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(37, 37, 37);
  color: white;
  box-sizing: border-box;
  /*   background-image: url("https://i.pinimg.com/originals/0d/ba/57/0dba57a96d995f5b92d6294245ead3eb.jpg");
 */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
